body {
    font-family: 'Rubik', sans-serif !important;
}

.card {
    background-color: #1c1f4a !important;
    color: #F9F5F6 !important;
    min-height: 235px;
    transition-duration: 200ms;
}

.card:hover {
    background-color: hsl(235, 46%, 30%) !important;
}